.button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #9fc5e8;
}
.hyperlink {
    -fx-text-fill: "Blue";
    -fx-font-size: 12pt;
}

.label {
    -fx-font-size: 10pt;
}
.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Serif";
    -fx-background: #efefef;
}
